<section class="sitemap" aria-labelledby="sitemap-title">
  <div class="sitemap__container">
    <header class="sitemap__header">
      <h1 id="sitemap-title">{{ 'SITEMAP.TITLE' | translate }}</h1>
      <p class="sitemap__subtitle">{{ 'SITEMAP.SUBTITLE' | translate }}</p>
    </header>

    <div class="sitemap__grid">
      <div class="sitemap__section" *ngFor="let section of sections; trackBy: trackByIndex">
        <h2 class="sitemap__section-title">{{ section.titleKey | translate }}</h2>
        <ul class="sitemap__links">
          <li *ngFor="let link of section.links; trackBy: trackByIndex">
            <a [routerLink]="link.route" class="sitemap__link">{{ link.labelKey | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
